PORT = 3000
CORS_ORIGIN = *
NODE_ENV = development

JWT_SECRET = your_jwt_secret
JWT_EXPIRES_IN = 7d
JWT_REFRESH_SECRET = your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN = 30d

DB_HOST = localhost
DB_PORT = 5432
DB_USERNAME = postgres
DB_PASSWORD = your_DB_password
DB_NAME = your_DB_name
DB_SYNCHRONIZE = false

REDIS_HOST = your_redis_host
REDIS_PORT = 6379
REDIS_PASSWORD = your_redis_password
REDIS_TLS = true
REDIS_DB_QUEUE = 0
REDIS_DB_CACHE = 1

QUEUE_CONCURRENCY = 5
QUEUE_MAX_RETRIES = 3
QUEUE_LIMITER_MAX = 10
QUEUE_LIMITER_DURATION = 1000
